.ServiceSection {
    width: 100%;
    text-align: center;
    background-color: var( --primary-color);
    padding: 3rem 4rem;
}

.ServiceSection h2 {
    font-size: 48px;
    color: var(--white-color);
}
.ServiceSection .Description{
    font-size: 15px;
}
@media (max-width:992px) {
    .ServiceSection h2 {
        font-size: 30px;
    }

}

@media (max-width:620px) {
    .ServiceSection {
        padding: 2rem;
    }

    .ServiceSection h2 {
        font-size: 24px;
    }

    .ServiceSection .Description {
        font-size: 14px;
    }
}